{% extends "layout.html" %}

{% block content %}
<main id="main">
    <div class="page-header">
        <h1 class="timer-title">Pomodoro Timer</h1>
    </div>
    <div class="mid-buttons">
        <button class="button button1 type3">Pomodoro</button>
        <button class="button button2">Short Break</button>
        <button class="button button3">Long Break</button>
    </div>
    <div class="outer">
        <h1 class="number">
            25:00
        </h1>
    </div>
    <div class="bottom-buttons">
        <button class="button button4">Start</button>
        <button class="button button5">Stop</button>
    </div>
</main>
{% endblock content %}
